.title-decoration {
    position: relative;
    display: block;
    margin: auto;
    width: 240px;
    margin-top: 2rem;
    
    &::before,
    &::after{
        content: '';
        position: absolute;
        top: 17.5px;
        display: block;
        height: 1px;
        width: 92px;
        background-color: #aaa;
    }
    &::after {
        right: 0;
    }
    
    i[class*="fa"] {
        display: block;
        margin: auto;
        width: 36px;
        height: 36px;
        border: 1px solid teal;
        border-radius: 50%;
        font-size: 18px;
        font-style: normal;
        text-align: center;
        line-height: 35px;
        color: black;
    }
  }
  
  .contrast {
    color: white;
    
    .title-decoration::before,
    .title-decoration::after {
        background-color: rgba(white, .5);
    }
    
    .title-decoration i[class*="fa-"] {
        border-color: rgba(white, .5);
        color: rgba(white, .5);
    }
  }
  
  